Repository guitarbeat/Alexa-MCP-Server: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint

format:
  name: Prettier
  entry: pnpm exec prettier --write
  language: system

lint:
  name: ESLint
  entry: pnpm exec eslint --fix
  language: system

refactor: improve code quality, type safety, and testing
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/mcp/tools/announcements.ts
  src/mcp/tools/bedroom.ts
  tests/utils.test.ts
  vitest.config.ts
Due: format, lint

fix: resolve CI formatting and typing failures
  scripts/get-cookies.ts
  scripts/test-mcp.ts
  tests/utils.test.ts
  vitest.config.ts
Due: format, lint

ci: remove auto-merge, add build step, cancel stale runs
  .github/workflows/ci.yml
Due: none

ci: fix build step command to use pnpm
  .github/workflows/ci.yml
Due: none

ci: add weekly branch cleanup workflow
  .github/workflows/branch-cleanup.yml
Due: none

ci: remove auto-merge, add build step, cancel stale runs (#3)
  .github/workflows/ci.yml
Due: none

feat: add auth and cors restrictions to hono and express endpoints
  README.md
  src/app.ts
  src/express-index.ts
  src/types/env.ts
Due: format, lint

feat: add auth and cors restrictions to hono and express endpoints
  README.md
Due: format

Refactor MCP server for Cloudflare Workers compatibility, unify versioning, and remove DO config
  package.json
  src/app.ts
  src/constants.ts
  src/express-index.ts
  src/mcp/server.ts
  wrangler.jsonc
Due: format, lint

Refactor MCP server, unify versioning, fix DO config, and update CI
  .github/workflows/ci.yml
  wrangler.jsonc
Due: none

Feat: Security lockdown with Bearer Auth and CORS (#16)
  README.md
  src/app.ts
  src/express-index.ts
  src/types/env.ts
Due: format, lint

Merge PR #17 and resolve conflicts
  .github/workflows/ci.yml
  package.json
  src/app.ts
  src/constants.ts
  src/express-index.ts
  src/mcp/server.ts
  wrangler.jsonc
Due: format, lint

Fix architecture issues (Env capturing, Versions, and Wrangler Config)
  .github/workflows/ci.yml
  package.json
  src/app.ts
  src/constants.ts
  src/express-index.ts
  src/mcp/server.ts
  wrangler.jsonc
Due: format, lint

ci: improve GitHub Actions workflows
  .github/workflows/ci.yml
Due: none

ci: improve GitHub Actions workflows
  .github/workflows/branch-cleanup.yml
Due: none

Merge PR #17 and resolve conflicts (#21)
  src/express-index.ts
Due: format, lint

ci: set up pnpm before enabling pnpm cache
  .github/workflows/ci.yml
Due: none

⚙️ Improve GitHub Actions: permissions, concurrency, and pnpm caching
  .github/workflows/branch-cleanup.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  format: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
